.MainContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: aqua;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
}

